@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  background-image: url(images/BodyBG.png);
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}
@media (max-width: 900px) {
  body {
    background-size: cover;
  }
}

/*
=====================
Mapa de color (no estan aplicados en todos lados)
===================== 
 */
/*
=====================
Mapa de sombras (no estan aplicados en todos lados)
===================== 
 */
/* Text Gradient */
/*
=====================
Letter Spacing: 
(descontarlo de la ultima letra 
para un mejor alineado vertical de los titulos)
===================== 
 */
/*
    ========================================
    Headings
    ========================================
*/
h1 {
  padding: 15% 0;
  margin-top: 0%;
  position: center;
  width: 100%;
  font-family: "Spartan", sans-serif;
  text-align: center;
  text-shadow: 0px 0px 18px #f8d4a5;
  background-image: url(images/renderforweb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.5s;
  letter-spacing: 50px;
  font-size: 5vw;
  font-weight: 500;
}
h1 span {
  letter-spacing: 0px;
}
h1:hover {
  background-image: url(images/renderforwebinclined.png);
  animation: chess 0.5s ease-in-out infinite alternate;
}
@media (max-width: 900px) {
  h1 h1 {
    letter-spacing: 40px;
  }
}
@media (max-width: 500px) {
  h1 {
    letter-spacing: 20px;
  }
}

@keyframes chess {
  from {
    background-position: center 0px;
  }
  to {
    background-position: center 6px;
  }
}
h2 {
  display: inline-block;
  padding: 20px;
  margin-bottom: 15px;
  position: relative;
  font-family: "spartan", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 15px;
  background-color: white;
  box-shadow: 0px 0px 15px 0px #00000042;
  mix-blend-mode: screen;
}
@media (max-width: 900px) {
  h2 {
    max-width: 80%;
    font-weight: 800;
    letter-spacing: 5px;
  }
}
@media (max-width: 500px) {
  h2 {
    max-width: 80%;
    font-weight: 600;
    letter-spacing: 5px;
  }
}
h2 p {
  border: solid 3px;
  margin: 0px;
  padding: 15px 11px 11px 11px;
  background: #17102b;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0px 2px 15px 0px #17102b;
}

h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 15px;
  color: #343946;
  text-align: center;
  text-shadow: 0px 0px 19px white;
}
h3 p {
  margin: 0%;
  width: 500px;
  padding-top: 15px;
}
h3 p:first-child {
  border-top: 1px #b4b4b4 solid;
}
@media (max-width: 500px) {
  h3 p {
    width: 250px;
    font-size: 10px;
  }
}

h4 {
  margin: 10px auto;
  padding: 10px 0;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  text-align: center;
  word-spacing: 4px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: linear-gradient(2deg, #ffd889 -6%, #ff80ff 154%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 4px;
  font-size: 30px;
  font-weight: bolder;
}
h4 span {
  letter-spacing: 0px;
}
@media (max-width: 900px) {
  h4 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  h4 {
    display: none;
  }
}

h5 {
  padding-bottom: 5px;
  font-size: 1.4vw;
  grid-column: 1/span 2;
  margin: 0;
  line-height: 30px;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 0.5vw;
  color: #494968;
}
@media (max-width: 900px) {
  h5 {
    font-size: 3.5vw;
    text-align: center;
  }
}
@media (max-width: 500px) {
  h5 {
    padding: 0;
    display: block;
    font-size: 3.5vw;
    text-align: center;
  }
}

/*
    ========================================
    Header
    ========================================
*/
header {
  padding: 3% 0 5% 0;
  width: inherit;
  height: 50%;
  background-color: white;
}
header .header_link {
  transition: all, 0.8s;
}
header .header_link:link {
  text-decoration: none;
  color: black;
}
header .header_link:hover {
  letter-spacing: 55px;
  color: rgba(0, 0, 0, 0.644);
}
@media (max-width: 500px) {
  header .header_link:hover {
    letter-spacing: 24px;
  }
}
header .header_link:visited {
  text-decoration: none;
  color: black;
}

/*
    ========================================
    Main menu
    ========================================
*/
nav {
  position: sticky;
  top: 0px;
  z-index: 3;
}
nav .main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1.2vw;
  background-color: white;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  nav .main-menu {
    flex-direction: column;
    letter-spacing: 10px;
    font-size: small;
  }
  nav .main-menu .reel {
    display: none;
  }
}
nav .main-menu li {
  width: 400px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #cca723;
}
nav .main-menu li:last-child {
  border-right: 0;
}
@media (max-width: 900px) {
  nav .main-menu li {
    border: none;
  }
}
nav .main-menu a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #443f3f;
  transition: all, 0.8s;
}
nav .main-menu a:hover {
  background-color: #dcd1e2;
}

.accordion-item {
  border: none;
}
.accordion-item .accordion-body {
  padding: 0;
}
.accordion-item .accordion-header {
  padding: 20px;
}
.accordion-item a {
  display: block;
  text-decoration: none;
  color: #443f3f;
  transition: all, 0.8s;
}
.accordion-item a:hover {
  background-color: #dcd1e2;
}
.accordion-item a .reelbtn {
  padding: 0;
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1.2vw;
  background-color: transparent;
  text-transform: uppercase;
}
.accordion-item a .reelbtn:not(.collapsed) {
  color: #443f3f;
  background-color: transparent;
  box-shadow: none;
}

/*
  ========================================
  Footer
  ========================================
*/
footer {
  position: relative;
}
footer .home-button img {
  width: 70px;
  margin: 0px 1.4% -2% 0px;
  position: absolute;
  bottom: 130%;
  right: 0%;
  opacity: 0.5;
  transition: all, 0.8s;
}
footer .home-button img:hover {
  opacity: 0.8;
}
@media (max-width: 900px) {
  footer .home-button img {
    width: 40px;
  }
}
@media (max-width: 500px) {
  footer .home-button img {
    width: 30px;
  }
}
footer #contact_info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 0.3fr;
  align-content: center;
  align-items: center;
  width: 100%;
  color: #1c1c4b;
  background: #17102b;
}
@media (max-width: 900px) {
  footer #contact_info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 500px) {
  footer #contact_info {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}
footer #contact_info .infotext {
  padding: 0px 20px;
  margin: 10px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4vw;
  font-weight: inherit;
  background: linear-gradient(2deg, #ffd889 -6%, #ff80ff 154%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4px;
  justify-content: center;
  align-items: self-start;
  border: dotted 2px grey;
  border-bottom: none;
  border-top: none;
}
@media (max-width: 900px) {
  footer #contact_info .infotext {
    padding: 10px 0px 0 0;
    margin: 0px 20px;
    font-size: 3vw;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    border: none;
    border-bottom: dotted 2px grey;
    border-top: dotted 2px grey;
  }
}
@media (max-width: 500px) {
  footer #contact_info .infotext {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: stretch;
    padding: 10px 0px;
    margin: 0px 20px;
    font-size: 4vw;
    border: none;
    border-bottom: none;
    border-top: none;
  }
}
footer #contact_info .infotext p {
  margin: 0%;
}
footer #contact_info .socialmedia {
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
@media (max-width: 500px) {
  footer #contact_info .socialmedia {
    padding: 0%;
  }
}
footer #contact_info ul img {
  width: 50px;
  opacity: 0.7;
}
footer #contact_info ul img:hover {
  opacity: 1;
  transition: all, 0.8s;
}
@media (max-width: 900px) {
  footer #contact_info ul img {
    padding: 10%;
    width: 69px;
    opacity: 0.7;
  }
}
@media (max-width: 500px) {
  footer #contact_info ul img {
    justify-content: center;
    padding: 10%;
    width: 54px;
    opacity: 0.7;
  }
}
footer #contact_info .credits {
  background-color: #343946;
  grid-column: 1/span 3;
  width: 100%;
  text-align: center;
}
footer #contact_info .credits p {
  margin: 0%;
  padding: 5px 0;
  letter-spacing: 0.5vw;
  font-size: 1.1vw;
  font-weight: bold;
  background: linear-gradient(2deg, #ffd889 -6%, #ff80ff 154%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer #contact_info .credits p span {
  letter-spacing: 0px;
}
@media (max-width: 900px) {
  footer #contact_info .credits p {
    letter-spacing: 0.5vw;
    font-size: 3vw;
    font-weight: bold;
  }
  footer #contact_info .credits p span {
    letter-spacing: 0px;
  }
}

main {
  display: flex;
  position: relative;
  margin: 0;
  width: 100%;
  max-height: 800px;
  height: 50rem;
  overflow: hidden;
  scroll-snap-type: both mandatory;
}

/*
 =================================
 Demo Reel
 =================================
*/
#demo_reel {
  padding: 0;
  background-color: white;
}
#demo_reel .carousel-control-prev, #demo_reel .carousel-control-next {
  padding: 19px;
  width: 8%;
  height: 50%;
  margin: auto;
}

/* 
=======================
Sobre Mi
========================
*/
#sobre-mi {
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0%;
  scroll-snap-align: start;
  overflow: hidden;
  margin: 0;
  padding: 70px 0 0 0;
  background-color: #dcd1e2;
}
#sobre-mi .background {
  position: absolute;
  top: 0px;
  background-image: url(images/nftdonutrenderfinal.png);
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  overflow: hidden;
}
#sobre-mi h2 {
  color: #29292e;
}
#sobre-mi .sobregrid {
  margin: 1.2rem auto 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0%;
  position: relative;
  width: 65%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.4vw;
  letter-spacing: 2px;
  word-spacing: 0.7vw;
  line-height: 154%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 2px 15px 0px #343946;
}
#sobre-mi .sobregrid img {
  width: 20%;
  flex-shrink: 0;
}
#sobre-mi .sobregrid p {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0% 3% 0 2%;
  color: #2c221a;
  text-shadow: 0px 0px 4px #ffffff;
}

/*
 =================================
 Portfolio
 =================================
*/
#portfolio {
  width: 100%;
  height: inherit;
  position: absolute;
  left: 100%;
  scroll-snap-align: start;
  margin: 0;
  padding: 70px 0 0px 0;
  background-image: linear-gradient(to top, #09010c, rgba(43, 22, 109, 0.57));
}
#portfolio .portGrid {
  margin-top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#portfolio .portGrid aside {
  position: relative;
  right: 4%;
}
#portfolio .portGrid aside:hover .plink-assets {
  transform: translateX(-35%);
}
#portfolio .portGrid aside .plink-assets {
  position: absolute;
  transition: all 1s;
}
#portfolio .portGrid .portitems {
  border: 10px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style-type: none;
  padding: 0%;
}
#portfolio .portGrid .portitems li {
  position: relative;
  width: 225px;
  height: 225px;
  overflow: hidden;
  transition: all 0.1s;
}
#portfolio .portGrid .portitems li:hover {
  z-index: 2;
}
#portfolio .portGrid .portitems li img {
  position: absolute;
  width: inherit;
}
#portfolio .portGrid .portitems li .galhov {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #2c2c2c, #2c2c2c5b);
  text-align: center;
  font-size: 4vh;
  color: white;
}
#portfolio .portGrid .portitems li:hover {
  transform: scale(1.04) translateY(-15px);
  box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.418);
}
#portfolio .portGrid .portitems li:hover img {
  filter: blur(4px);
}
#portfolio .portGrid .portitems li:hover .galhov {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
#portfolio .portGrid .portitems li:hover .galhov a {
  font-size: 3.5vh;
  text-decoration: none;
  color: white;
  margin: 3% ​0 2% 0;
  animation-name: eyepop;
  animation-iteration-count: initial;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1s;
  text-decoration: none;
}
@keyframes eyepop {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
#portfolio .portGrid .portitems li:hover .galhov h6 {
  height: 37%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: white;
  font-size: 3vh;
  padding: 0%;
  margin: 14% 13% 0% 8%;
  font-family: sans-serif;
}
#portfolio .portGrid .portitems li:hover .galhov p {
  height: 56%;
  font-size: 40%;
  margin-top: auto;
  font-family: sans-serif;
  padding: 0 14% 0 9%;
  text-align: left;
}
@media (max-width: 900px) {
  #portfolio .portGrid .portitems {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 500px) {
  #portfolio .portGrid .portitems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/*
 =================================
 Contactame
 =================================
*/
#contactame {
  width: 100%;
  height: inherit;
  position: absolute;
  left: 200%;
  scroll-snap-align: start;
  margin: 0;
  padding: 80px 30px 0px 0px;
  background-color: rgba(100, 148, 237, 0.479);
  background-image: url(images/huevo_selfie_background.jpg);
  /* map-get($paleta, "contactgrad") */
  background-size: cover;
}
#contactame h5 {
  color: #fff2e1;
}
#contactame .contact-grid {
  border: 10px solid white;
  width: 60%;
  padding: 15px;
  background-image: url(images/contact_pattern.jpg);
  background-size: 45%;
  margin: 6% auto -88px auto;
  box-shadow: 0px 2px 15px 0px #17102b;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.7fr 0.3fr;
  gap: 12px 30px;
  grid-template-areas: "tunombre tuemail" "tumensaje tumensaje" "enviarbtn enviarbtn";
}
#contactame .contact-grid .tunombre {
  grid-area: tunombre;
}
#contactame .contact-grid .tuemail {
  grid-area: tuemail;
}
#contactame .contact-grid .tumensaje {
  grid-area: tumensaje;
}
#contactame .contact-grid .enviarbtn {
  width: 100%;
  grid-area: enviarbtn;
}
#contactame img {
  position: absolute;
  bottom: 0;
  padding-left: 50px;
}

/*# sourceMappingURL=style.css.map */
