body {
    padding: 0;
    margin: 0;
    background-image: url(images/BodyBG.png);
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    @media (max-width: 900px) {
        background-size:cover;
    }

}
@import 'Bases/recursos';
@import 'Bases/headings';
@import 'Sectores/header';
@import 'Sectores/main-menu';
@import 'Sectores/footer';
@import 'Sectores/main-content';
@import 'Sectores/404';

