/*
    ========================================
    Headings
    ========================================
*/

h1 {
    padding:15% 0;
    margin-top: 0%;
    position:center;
    width: 100%;   
    font-family: 'Spartan', sans-serif;
    text-align:center;
    text-shadow: 0px 0px 18px map-get($paleta, calido );
    background-image: url(images/renderforweb.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    transition: all .5s;
    @include titlespacing(50px, 5vw, 500);
    &:hover { 
        background-image: url(images/renderforwebinclined.png);
        animation: chess .5s ease-in-out infinite alternate;
    }
    @media (max-width: 900px) {
        h1 {
            letter-spacing: 40px;
        }
    }
    @media (max-width: 500px) {
        letter-spacing: 20px;
    }
}

@keyframes chess {
   from {background-position: center 0px;} 
   to {background-position: center 6px;}
} 

h2 {
    display: inline-block;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
    font-family: 'spartan', sans-serif;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 15px;
    background-color: white; 
    box-shadow: 0px 0px 15px 0px #00000042;
    mix-blend-mode: screen;
    @media (max-width: 900px) {
    max-width: 80%;
    font-weight: 800;
    letter-spacing: 5px;
    }
    @media (max-width: 500px) {
    max-width: 80%;
    font-weight: 600;
    letter-spacing: 5px;
    }
    p { 
        border: solid 3px;
        margin: 0px;
        padding: 15px 11px 11px 11px;
        @include textgradient(map-get($paleta , negro));
        @include msshadow(map-get($paleta, "negro"));
    }
    
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'montserrat', sans-serif;
    font-weight:500;
    font-style:italic;
    font-size: 15px;
    color: map-get($paleta, gris);
    text-align:center;
    text-shadow: 0px 0px 19px rgba(255, 255, 255, 1);
    p {
        margin: 0%;
        width: 500px;
        padding-top: 15px;
        &:first-child {
            border-top: 1px rgb(180, 180, 180) solid;
    }
    @media (max-width: 500px) {
        width: 250px;
        font-size: 10px;
    }   
}
}

h4 {
    margin:10px auto;
    padding:10px 0;
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    text-align: center;
    word-spacing: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    @include textgradient(map-get($paleta , gradf));
    @include titlespacing(4px, 30px, bolder,);
    @media (max-width: 900px) {
        font-size: 30px;
    }
    @media (max-width: 500px) {
        display: none;
    }
}

h5 {
    padding-bottom: 5px;
    font-size: 1.4vw;
    grid-column: 1 / span 2;
    margin: 0;
    line-height: 30px;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 0.5vw;
    color: rgb(73, 73, 104);
    @media (max-width: 900px) {
        font-size: 3.5vw;
        text-align: center;
    }
    @media (max-width: 500px) {
        padding: 0;
        display: block;
        font-size: 3.5vw;
        text-align: center;
    }
}