/*
=====================
Mapa de color (no estan aplicados en todos lados)
===================== 
 */

 $paleta: (
    calido:#f8d4a5,
    calidosm:#fff2e1,
    calidof:#ffd176,
    calidob:#cca723, 
    frio:#dcd1e2,
    friof:#ff80ff,
    negro:rgb(23, 16, 43),
    gris:#343946,
    gradf:linear-gradient(2deg, #ffd889 -6%, #ff80ff 154%),
    titlegrad:linear-gradient(152deg, rgb(255 232 186 / 82%) 5%, #ffbff200 100%),
    contactgrad: radial-gradient(circle, #ffe5ceab 34%, #2b061e 100%), 
    portgrad:linear-gradient(to top, #09010c, rgb(43 22 109 / 57%)), 
 );

 /*
=====================
Mapa de sombras (no estan aplicados en todos lados)
===================== 
 */

 @mixin msshadow($shcolor) {
    box-shadow: 0px 2px 15px 0px $shcolor;
 }
 @mixin btnshadow($shcolor1, $shcolor2) {
 box-shadow: inset 2px 2px 5px $shcolor1, inset -5px -5px 10px $shcolor2; /* -sombra doble en forma de boton- */
 }

/* Text Gradient */

@mixin textgradient($txtgrad) {
    background: $txtgrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 /*
=====================
Letter Spacing: 
(descontarlo de la ultima letra 
para un mejor alineado vertical de los titulos)
===================== 
 */

@mixin titlespacing($lspacing, $fsize, $fweight) {
    letter-spacing: $lspacing;
    font-size: $fsize;
    font-weight: $fweight;
    @if $lspacing > 0 {
        span {
            letter-spacing: 0px;
        }
    }
}

