/*
=====================
Mapa de color (no estan aplicados en todos lados)
===================== 
 */

 $paleta: (
    calido:#f8d4a5,
    calidosm:#fff2e1,
    calidof:#ffd176,
    calidob:#cca723, 
    frio:#dcd1e2,
    friof:#ff80ff,
    negro:black,
    gris:#677286,
    gradf:linear-gradient(2deg, #ffd889 -6%, #ff80ff 154%),
    titlegrad:linear-gradient(152deg, rgb(255 232 186 / 82%) 5%, #ffbff200 100%),
    contactgrad: linear-gradient(270deg, #875053 10%, #ffbff200 100%), 
    portgrad:linear-gradient(to top, rgb(220, 209, 226), rgba(255, 255, 255, 0)), 
 );

 /*
=====================
Letter Spacing: 
(descontarlo de la ultima letra 
para un mejor alineado vertical de los titulos)
===================== 
 */

@mixin titlespacing($lspacing, $fsize, $fweight) {
    letter-spacing: $lspacing;
    font-size: $fsize;
    font-weight: $fweight;
    @if $lspacing > 0 {
        span {
            letter-spacing: 0px;
        }
    }
}

