/*
  ========================================
  Footer
  ========================================
*/

footer {
    position: relative;
    .home-button img {
        width: 70px;
        margin: 0 1% 0 0;
        position: absolute;
        bottom: 130%;
        right: 0%;
        opacity: 0.5;
        transition: all, .8s;
        &:hover {
            opacity: 0.8;
        }
        @media (max-width: 900px) {
            width: 40px;
        }
        @media (max-width: 500px) {
            width: 30px;
        }
    }
    #contact_info {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr .3fr;
        align-content: center;
        align-items: center;
        width: 100%;
        color: rgb(28, 28, 75);
        background: map-get($paleta , negro);
        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            grid-template-columns: 1fr;
        }
        .infotext {
            padding: 0px 20px;
            margin: 10px 0px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.4vw;
            font-weight: inherit;
            @include textgradient(map-get($paleta , gradf));
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 4px;
            justify-content: center;
            align-items: self-start;
            border: dotted 2px grey;
            border-bottom: none;
            border-top: none;
            @media (max-width: 900px) {
                padding: 10px 0px;
                margin: 0px 20px;
                font-size: 3vw;
                display: grid;
                grid-template-columns: auto;
                grid-column-gap: 10px;
                border: none;
                border-bottom: dotted 2px grey;
                border-top: dotted 2px grey;

            }
            @media (max-width: 500px) {
                display: flex;
                flex-direction: column;
                align-content: flex-end;
                justify-content: center;
                align-items: stretch;
                padding: 10px 0px;
                margin: 0px 20px;
                font-size: 4vw;
                border: none;
                border-bottom: none;
                border-top: none;
            }
            p {
                margin: 0%;
            }
        }
        .socialmedia {
            margin:10px 0;
            padding:10px; 
            list-style-type: none;
            display: flex;
            text-align: center;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            @media (max-width: 500px) {
                padding: 0%;
            }
        }
        ul img {
            width: 50px;
            opacity: 0.7;
            &:hover {
                opacity: 1;
                transition: all, .8s;
            }
            @media (max-width: 900px) {
                padding: 10%;
                width: 80px;
                opacity: 0.7;
            }
            @media (max-width: 500px) {
                justify-content: center;
                padding: 10%;
                width: 80px;
                opacity: 0.7;
            }
        }
        .credits{
            background-color: map-get($paleta , "gris" );
            grid-column: 1/span 3;
            width: 100%;
            text-align: center;
            p {
                margin: 0%;
                padding: 5px 0;
                @include titlespacing(.5vw, 1.1vw ,bold);
                @include textgradient(map-get($paleta , gradf));
                @media (max-width: 900px) {
                @include titlespacing(.5vw, 3vw ,bold)
                }
            }
        }   
    }
}





