/*
    ========================================
    Main menu
    ========================================
*/
nav {
    position: sticky;
    top: 0px;
    z-index: +3;
    .main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0; 
        font-family: 'montserrat', sans-serif;
        font-weight: bold;
        letter-spacing: 1.2vw;
        background-color: white;
        text-transform: uppercase;

        @media (max-width: 900px) {
            .reel {
                display:none;
            }
            flex-direction: column;
            letter-spacing: 10px;
            font-size: small; 
        }
       
        li {
            width: 400px;
            position: relative;
            display: inline-block;
            text-align: center;
            border-right: 1px solid map-get($paleta , calidob );
            &:last-child {
                border-right: 0;
            }
            @media (max-width: 900px) {
                border: none;
            }
        }
        a {
            display: block;
            padding: 20px;
            text-decoration: none;
            color: rgb(68, 63, 63);
            transition: all, .8s;
            &:hover {
                background-color: map-get($paleta , frio );
            } 
        }
    }
}

.accordion-item {
    border: none;
    .accordion-body {
        padding:0;
    }
    .accordion-header {
        padding: 20px
    }
    a {
        display: block;
        text-decoration: none;
        color: rgb(68, 63, 63);
        transition: all, .8s;
        &:hover {
            background-color: map-get($paleta , frio );
        } 
        .reelbtn {
            padding:0;
            width: 100%;
            position: relative;
            display: inline-block;
            text-align: center;
            font-family: 'montserrat', sans-serif;
            font-weight: bold;
            letter-spacing: 1.2vw;
            background-color:transparent;
            text-transform: uppercase;
            &:not(.collapsed) {
                color: rgb(68, 63, 63);
                background-color:transparent;
                box-shadow: none
            }
        }
    }
}









