
main {
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
    max-height: 800px;
    height: 50rem;
    overflow: hidden;
    scroll-snap-type: both mandatory;
}
@mixin scr-hide-kit {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
@mixin horisectionize($lalign){
    width: 100%;
    height:inherit;
    position: absolute;
    left: $lalign;
    scroll-snap-align: start;
}
/*
 =================================
 Demo Reel
 =================================
*/
#demo_reel {
    padding:0;
    background-color: white;    
    .carousel-control-prev, .carousel-control-next {
        padding:19px;
        width: 8%;
        height: 50%;
        margin: auto;
    }
    a{
        position:relative;
    }
    .home-button img {
        width: 40px;
        position: absolute;
        left: 21px;
        bottom: 60px;
        opacity: 0.5;
        transform: rotate(180deg);
        transition: all, .8s;
        &:hover {
            opacity: 0.8;
        }
    }
}
/* 
=======================
Sobre Mi
========================
*/

#sobre-mi {
    @include horisectionize(0%);
    overflow: hidden;
    margin: 0;
    padding: 70px 0 0 0;
    background-color: map-get($paleta, "frio",);
    .background {
        position: absolute;
        top: 0px;
        background-image: url(images/nftdonutrenderfinal.png);
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        filter: blur(4px);

        overflow: hidden;
    }
    h2 {
        color: #29292e;
    }

    .sobregrid {
        margin: 1.2rem auto 0 auto;
        background-color: rgb(255 255 255 / 80%);
        padding: 0%;
        position: relative;
        width: 65%;
        height: auto;
        max-height: 550px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 120%;
        letter-spacing: 2px;
        word-spacing: 0.7vw;
        line-height: 154%;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include msshadow(map-get($paleta, "gris"));
        @media (max-width:900px) {
            margin: 50px 0 0 0;
            padding: 0;
            width: 100%;
            font-weight: 600;
            font-size: 3vw;
            letter-spacing: 0px;
            word-spacing: 0.8vw;
            line-height: 155%;
            background-image: url(./images/Lowpolym3.png);
            background-size: cover;
            background-position-y: 16%;
        }
        @media (max-width:500px) {
            margin: 50px 0 0 0;
            padding: 0;
            width: 100%;
            font-weight: 600;
            font-size: 4vw;
            letter-spacing: 0px;
            word-spacing: 0.8vw;
            line-height: 155%;
        }
        img {
            max-height: inherit;
            flex-shrink: 0;
            @media (max-width:900px){
                display: none;
            }
        }
        p {
            margin: .5rem 0 .5rem 0;
            padding: 0% 3% 0 2%;    
            color: #2c221a;
            text-shadow: 0px 0px 4px #ffffff;
            @media (max-width:900px){
                margin: 0%;
                padding: 6%;
                background-color: rgb(255 255 255 / 70%)

            }
        }
    }
}

/*
 =================================
 Portfolio
 =================================
*/

 #portfolio {
    @include horisectionize(100%);
    margin: 0;
    padding: 70px 0 0px 0;
    background-image: map-get($paleta, "portgrad");
    .portGrid {
        margin-top: 0;
        position:relative;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @media (max-width: 900px) and (min-width:500px){
    		flex-direction: column;
    		justify-content: flex-start
	    }
        aside{
            position: relative;
            right: 4%;
            @media (max-width:900px){
                transform: rotate(90deg) translate(-340px, -26px);
            }
            @media (max-width: 500px) {
                transform: rotate(329deg) translate(-131px, -62px) rotatey(180deg);
                    position: relative;
                    bottom: 333px;
            }
            &:hover {
                .plink-assets{
                    transform: translateX(-35%);
                }
            }
            .plink-assets {
                position: absolute;
                transition: all 1s;
            }
        }      
        .portitems {  
            border: 10px solid white;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            list-style-type:none;
            padding: 0%;
            background: map-get($paleta, "frio",);
            @media (max-width:900px){
                height: 500px;
                overflow-y: scroll;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                @include scr-hide-kit;
            }
            @media (max-width: 500px){
                width: 245px;
                height: 500px;
                display: flex;
                overflow-y: scroll;
                flex-wrap: wrap;
            }
            
            li {
            position: relative;
            width:  225px;
            height: 225px;
            overflow: hidden;
            transition: all .100s;
            &:hover {
                z-index: +2;
            }
            
                img {
                position: absolute;
                width: inherit;
                }
                 .galhov {
                display:none;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to top, #2c2c2c, #2c2c2c5b);
                text-align: center;
                font-size: 4vh;
                color: white;
                }
                &:hover {
                    transform: scale(1.04) translateY(-15px); 
                    box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.418);
                    img {
                    filter: blur(4px);
                    }
                    .galhov {
                        display:flex;
                        flex-direction: column;
                        align-content: center;
                        justify-content: center;
                        a {
                            font-size: 3.5vh;
                            text-decoration: none;
                            color: white;
                            margin: 3% ​0 2% 0;
                            animation-name: eyepop;
                            animation-iteration-count: initial;
                            animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
                            animation-duration: 1s;
                            text-decoration: none;
                        }
                        @keyframes eyepop {

                            0% {
                            transform: scale(1)
                            }
                        
                            25% {
                            transform: scale(1.5);
                            }
                        
                            100% {
                            transform: scale(1);
                            }
                        }
                        h6 {
                            height:37%;
                            font-family: Arial, Helvetica, sans-serif;  
                            text-align: left;
                            color:white;
                            font-size: 3vh;
                            padding: 0%;
                            margin: 14% 13% 0% 8%;
                            font-family: sans-serif;
                        }
                        p {
                            height: 56%;
                            font-size: 40%;
                            margin-top: auto;
                            font-family: sans-serif;
                            padding: 0 14% 0 9%;
                            text-align: left;
                        }
                    }
                }    
            }    
        }
    }
}

/*
 =================================
 Contactame
 =================================
*/

#contactame {
    @include horisectionize(200%);
    margin: 0;
    padding: 80px 30px 0px 0px;
    background-color: rgba(100, 148, 237, 0.479);
    background-image: url(images/huevo_selfie_background.jpg);/* map-get($paleta, "contactgrad") */
    background-size: cover;
    h5 {
        color: map-get($paleta, "calidosm");
    }
    .contact-grid {
        border: 10px solid white;
        width: 60%;
        padding: 15px;
        background-image: url(images/contact_pattern.jpg);
        background-size: 45%;
        margin: 6% auto -88px auto;
        @include msshadow(map-get($paleta, "negro"));
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1.7fr 0.3fr; 
        gap: 12px 30px; 
        grid-template-areas: 
            "tunombre tuemail"
            "tumensaje tumensaje"
            "enviarbtn enviarbtn";
        .tunombre { grid-area: tunombre; }
        .tuemail { grid-area: tuemail; }
        .tumensaje { grid-area: tumensaje; }
        .enviarbtn {
            width: 100%;
            grid-area: enviarbtn;
            }
        @media (max-width:900px) {
            margin: 6% 0 -87px auto;
            width: 80%;
        }
    }
    img {
        position: absolute;
        bottom: 0;
        padding-left: 50px;
        @media (max-width:900px) {
            bottom: -20px;
            padding-left: 0px;
        }
    }
    
}