main {
    margin: 0;
}

/*
 =================================
 Demo Reel
 =================================
*/
#demo_reel {
    padding-top: 65px;
    background-color: white;
    .carousel-control-prev, .carousel-control-next {
        padding:19px;
        width: 8%;
        height: 50%;
        margin: auto;
    }

}

/* 
=======================
Sobre Mi
========================
*/

#sobre-mi {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 80px 0 50px 0;
    background-color: map-get($paleta, "frio",);
    .background {
        padding: 80px 0 50px 0;
        position: absolute;
        top: 0px;
        background-image: url(images/nftdonutrenderfinal.png);
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        filter: blur(4px);

        overflow: hidden;
    }
    h2 {
        color: #29292e;
    }

    .sobregrid {
        margin: 3% auto;
        background-color: rgb(255 255 255 / 80%);
        padding: 2%;
        position: relative;
        width: 75%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.5vw;
        letter-spacing: 2px;
        word-spacing: 7px;
        line-height: 175%;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include msshadow(map-get($paleta, "gris"));
        img {
            margin: 5px;
            width: 20%;
        }
        p {
            padding-left: 4%;
            margin-left: 1%;
            color: #2c221a;
            text-shadow: 2px ​2px 1px rgb(255 255 255 / 100%);
        }
    }
}

/*
 =================================
 Portfolio
 =================================
*/

 #portfolio {
    position: relative;
    margin: 0;
    padding: 80px 0 50px 0;
    background-image: map-get($paleta, "portgrad");
    .portGrid {
        margin-top: 20px;
        position:relative;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        aside{
            position: relative;
            right: 4%;
            &:hover {
                .plink-assets{
                    transform: translateX(-35%);
                }
            }
            .plink-assets {
                position: absolute;
                transition: all 1s;
            }
        }      
        .portitems {  
            border: 10px solid white;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            list-style-type:none;
            padding: 0%;
            
            li {
            position: relative;
            width:  225px;
            height: 225px;
            overflow: hidden;
            transition: all .100s;
            &:hover {
                z-index: +2;
            }
            
                img {
                position: absolute;
                width: inherit;
                }
                 .galhov {
                display:none;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to top, #2c2c2c, #2c2c2c5b);
                text-align: center;
                font-size: 4vh;
                color: white;
                }
                &:hover {
                    transform: scale(1.04) translateY(-15px); 
                    box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.418);
                    img {
                    filter: blur(4px);
                    }
                    .galhov {
                        display:flex;
                        flex-direction: column;
                        align-content: center;
                        justify-content: center;
                        a {
                            font-size: 3.5vh;
                            text-decoration: none;
                            color: white;
                            margin: 3% ​0 2% 0;
                            animation-name: eyepop;
                            animation-iteration-count: initial;
                            animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
                            animation-duration: 1s;
                            text-decoration: none;
                        }
                        @keyframes eyepop {

                            0% {
                            transform: scale(1)
                            }
                        
                            25% {
                            transform: scale(1.5);
                            }
                        
                            100% {
                            transform: scale(1);
                            }
                        }
                        h6 {
                            height:37%;
                            font-family: Arial, Helvetica, sans-serif;  
                            text-align: left;
                            color:white;
                            font-size: 3vh;
                            padding: 0%;
                            margin: 14% 13% 0% 8%;
                            font-family: sans-serif;
                        }
                        p {
                            height: 56%;
                            font-size: 40%;
                            margin-top: auto;
                            font-family: sans-serif;
                            padding: 0 14% 0 9%;
                            text-align: left;
                        }
                    }
                }    
            }    
            @media (max-width: 900px) {
                grid-template-columns: 1fr 1fr ; 
                grid-template-rows: 1fr 1fr 1fr 1fr;
            }
            @media (max-width: 500px) {
                display:flex;
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
    }
}

/*
 =================================
 Contactame
 =================================
*/

#contactame {
    margin: 0;
    padding: 80px 30px 0px 0px;
    background-color: rgba(100, 148, 237, 0.479);
    background-image: url(images/huevo_selfie_background.jpg);/* map-get($paleta, "contactgrad") */
    background-size: cover;
    h5 {
        color: map-get($paleta, "calidosm");
    }
    .contact-grid {
        border: 10px solid white;
        width: 60%;
        padding: 15px;
        background-image: url(images/contact_pattern.jpg);
        background-size: 45%;
        margin: 40px auto -88px auto;
        @include msshadow(map-get($paleta, "negro"));
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1.7fr 0.3fr; 
        gap: 12px 30px; 
        grid-template-areas: 
            "tunombre tuemail"
            "tumensaje tumensaje"
            "enviarbtn enviarbtn";
        .tunombre { grid-area: tunombre; }
        .tuemail { grid-area: tuemail; }
        .tumensaje { grid-area: tumensaje; }
        .enviarbtn {
            width: 100%;
            grid-area: enviarbtn; 
        }
    }
    img {
        padding-left: 50px;
    }
    
}